<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>BART</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
	  <ion-card-header>
	    <ion-card-title>Bart Trains</ion-card-title>
	    <ion-card-subtitle>From: {{ station.name }}</ion-card-subtitle>
	    <ion-card-subtitle>To:  {{ dest }}</ion-card-subtitle>
	  </ion-card-header>

	  <ion-card-content>
	  	<p>Name - {{ station.name }}</p>
		<p>Abbreviation - {{ station.abbr }}</p>
		<p class="text-justify">Address - <span>{{ station.address }}, {{ station.city }}, {{ station.county }}, {{ station.state }}, {{ station.zipcode }}</span></p>
		<p>North Platforms - <span *ngFor="let northPlatform of station.north_platforms.platform" class="pr-2"> {{ northPlatform }} </span></p>
		<p>North Routes - <span *ngFor="let northRoute of station.north_routes.route" class="pr-2"> {{ northRoute }} </span></p>
		<p>South Platforms - <span *ngFor="let southPlatform of station.south_platforms.platform" class="pr-2"> {{ southPlatform }} </span></p>
		<p>South Routes - <span *ngFor="let southRoute of station.south_routes.route" class="pr-2"> {{ southRoute }} </span></p>
		<p> Directions </p>
	  </ion-card-content>
	</ion-card>
	<ion-content *ngIf="schedule != null && schedule.request != null" >
		<ion-card *ngFor="let tripItem of schedule.request.trip">
		  <ion-card-header>
		    <ion-card-subtitle>Departure Date: {{ tripItem['@origTimeDate'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Departure Time:  {{ tripItem['@origTimeMin'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Arrival Date:  {{ tripItem['@destTimeDate'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Arrival Time:  {{ tripItem['@destTimeMin'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Fare:  $ {{ tripItem['@fare'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Trip Duration:  {{ tripItem['@tripTime'] }} min</ion-card-subtitle>
		  </ion-card-header>
		</ion-card>
	</ion-content>
</ion-content>
<ion-footer>
  <ion-label>Developed by Varna Vincent</ion-label>
</ion-footer>
