<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>BART</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
	  <ion-card-header>
	    <ion-card-title>Bart Trains</ion-card-title>
	    <ion-card-subtitle>From: {{ source }}</ion-card-subtitle>
	    <ion-card-subtitle>To:  {{ dest }}</ion-card-subtitle>
	  </ion-card-header>

	  <ion-card-content>
	    Keep close to Nature's heart... and break clear away, once in awhile,
	    and climb a mountain or spend a week in the woods. Wash your spirit clean.
	  </ion-card-content>
	</ion-card>
	<ion-content *ngIf="schedule != null && schedule.request != null" >
		<ion-card *ngFor="let tripItem of schedule.request.trip">
		  <ion-card-header>
		    <ion-card-subtitle>Departure Date: {{ tripItem['@origTimeDate'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Departure Time:  {{ tripItem['@origTimeMin'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Arrival Date:  {{ tripItem['@destTimeDate'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Arrival Time:  {{ tripItem['@destTimeMin'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Fare:  $ {{ tripItem['@fare'] }}</ion-card-subtitle>
		    <ion-card-subtitle>Trip Duration:  {{ tripItem['@tripTime'] }} min</ion-card-subtitle>
		  </ion-card-header>
		</ion-card>
	</ion-content>
</ion-content>
<ion-footer>
  <ion-label>Developed by Varna Vincent</ion-label>
</ion-footer>
